@keyframes shining {
    0% {
      transform: translateX(-150%);
    }
    50% {
      transform: translateX(150%);
    }
    100% {
      transform: translateX(150%);
    }
  }
  
  .shine-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent 25%, rgba(255, 255, 255, 0.8) 50%, transparent 75%);
    animation: shining 1.5s infinite;
  }
  

  